.home-style {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 8%;
}
.button-box {
    width: 14%;
    border: solid;
    background-color: #fe3c7a;
    border-radius: 4px;
    text-align: center;
    text-align: break-word;
    margin-top: -5%;
    margin-inline: auto;
    padding: 20px 30px;
    color: white;
    font-size:12px;
    display: flex;
    -webkit-appearance: button;
    justify-content: center;
}
.text1 {
    /* display: flex;
    flex-direction: column; */
    word-wrap: break-word;
    margin-top: 2em;
}
.text2 {
    margin-top: 5%;
    
}