.category1 {
  background-color: #ec7063;
}
.category2 {
  background-color: #bb8fce;
}
.category3 {
  background-color: #5dade2;
}
.category4 {
  background-color: #52be80;
}
.category5 {
  background-color: #f4d03f;
}
.category6 {
  background-color: #dc7633;
}
.category7 {
  background-color: #641e16;
}
.category8 {
  background-color: #154360;
}

.drop-btn-2 {
  justify-content: flex-end;
  /* margin-left: 120%; */
  margin-bottom: 1em;
  width: 20%;
  table-layout: fixed;
  border-collapse: collapse;
}
.description {
  margin-top: 4%;
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  border: solid 1px;
  width: 40%;
}
.goal_list {
  margin-top: 4%;
  display: flex;
  justify-content: flex-end;
  border: solid 1px;
  width: 60%;
  margin-bottom: 40px;
  /* height: 1000px; */
  /* padding-bottom: 10%; */
  margin-left: 10%;
}

.delete-btn {
  justify-content: flex-end;
  /* margin-left: 120%; */
  /* margin-bottom: 1em; */
  width: 20%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #fe3c7a;
  color: white;
  border: solid;
}

.dirbx {
  display: flex;
  flex-wrap: wrap;
}

.parent-drop {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* flex-basis: 100%; */
  /* border: solid 1px */
}

.milestones {
 border: solid black 1px;
 margin-top: 40px;
 height: 100px;
 width: 100px;
}
.milestone-Container {
  display: flex;
  flex-direction: row;
}