/* .goal_list1 {
  margin-top: 4%;
  display: flex;
  justify-content: flex-start;
  border: solid black 1px;
  margin-left: 30px;
} */
.goal_list2{
  margin-top: 4%;
  display: flex;
  justify-content: flex-end;
  border: solid 1px;
  width: 60%;
  margin-bottom: 40px;
  /* height: 1000px; */
  /* padding-bottom: 10%; */
  margin-left: 0;
}

.goal_props{
  display: flex;
  flex-direction: column;
  /* margin-left: 10em; */
}

.goals {
  margin-left: auto;
}

.category {
  display: flex;
  flex-flow: row-reverse;
  margin-top: 10px;
  margin-top: 10px;
 
}
.priority {
  display: flex;
  flex-flow: row-reverse;
  margin-top: 10px;
}
.term {
  display: flex;
  flex-flow: row-reverse;
  margin-top: 10px;
}

.title-myGoals {
  margin-right: 10%;
  margin-top: 2px;
  margin-bottom: 2%;
  padding-left: 10%;
}

.drop-btn {
  justify-content: flex-end;
  margin-left: 120%;
  margin-bottom: 1em;
  width: 20%;
  table-layout: fixed;
  border-collapse: collapse;
}
.container {
  width: 70%;
}
.category1 {
  background-color: #ec7063;
}
.category2 {
  background-color: #bb8fce;
}
.category3 {
  background-color: #5dade2;
}
.category4 {
  background-color: #52be80;
}
.category5 {
  background-color: #f4d03f;
}
.category6 {
  background-color: #dc7633;
}
.category7 {
  background-color: #d4efdf;
}
.category8 {
  background-color: #154360;
}

.create_goal-btn {
  background-color: #fe3c7a;
  color: white;
  border: solid;
}

.edit_goal-btn {
  justify-content: flex-end;
  margin-left: 120%;
  margin-bottom: 1em;
  width: 20%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #fe3c7a;
  color: white;
  border: solid;
}
